<div class="sidebar">
  <a
    routerLinkActive="active"
    routerLink=""
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <span class="material-icons-sharp"> foundation </span>
    <h3>Basic</h3>
  </a>
  <a routerLink="/sorting" routerLinkActive="active">
    <span class="material-icons-sharp"> swap_vert </span>
    <h3>Sorting</h3>
  </a>
  <a routerLink="/grouping" routerLinkActive="active">
    <span class="material-icons-sharp">diversity_3</span>
    <h3>Grouping</h3>
  </a>
  <a routerLink="/selecting" routerLinkActive="active">
    <span class="material-icons-sharp">checklist</span>
    <h3>Selecting</h3>
  </a>

  <a href="#">
    <span class="material-icons-sharp">logout</span>
    <h3>Documentation</h3>
  </a>
</div>
