<div class="nav-bar">
  <div class="left">
    <div class="logo">
      <h2><span class="danger">ANGULAR</span> TANSTACK</h2>
    </div>
    <button id="menu-btn" (click)="toggleSlidebar()">
      <span class="material-icons-sharp">menu</span>
    </button>
  </div>
  <div class="right">
    <div class="theme-toggler">
      <span class="material-icons-sharp active">light_mode</span>
      <span class="material-icons-sharp">dark_mode</span>
    </div>
    <div class="profile">
      <div class="info">
        <p>Hey,<b>Jrgokavalsa</b></p>
        <small class="text-mutedd">Admin</small>
      </div>
      <div class="profile-photo">
        <img
          src="../../../assets/images/default.png"
          onerror="this.onerror=null; this.src='../../../assets/images/default.png'"
          alt="user profile image"
        />
      </div>
    </div>
  </div>
</div>
